<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>shred shop</title>
    <!-- Include your CSS stylesheets -->
    <!-- <link rel="stylesheet" href="/styles/main.css"> -->
    <!-- Include any additional meta tags, scripts, or stylesheets -->
</head>
<body>

    <!-- Main content -->
    <div class="container">
        <%- body %> <!-- This is where the content of each view will be inserted -->
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Your Company. All rights reserved.</p>
    </footer>

</body>
</html>
